{% extends 'clients/base.html' %}
{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body text-center">
                            <h5 class="card-title">Удаление клиента</h5>
                            <p class="card-text">Вы уверены, что хотите удалить клиента: <strong>{{ object.full_name }}</strong>?</p>
                            <form method="POST" class="d-flex justify-content-center gap-2">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash-alt me-2"></i>Удалить
                                </button>
                                <a class="btn btn-secondary"
                                   href="{% url 'clients:clients_list' %}" role="button">
                                    <i class="fas fa-times me-2"></i>Отменить
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}