{% extends 'clients/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="container mt-5">
    <div class="row">
        {% if perms.mailing.view_campaign %}
        <div class="col-md-auto col-lg-4 mb-4">
            <div class="card shadow-sm h-100 hover-effect">
                <div class="card-body text-center">
                    <i class="fas fa-scroll fa-3x mb-3 text-primary"></i> <!-- Свиток для рассылок -->
                    <h5 class="card-title">Список рассылок</h5>
                    <p class="card-text">Посмотреть все рассылки</p>
                    <a href="{% url 'mailing:campaign_list' %}" class="btn btn-primary btn-block">Перейти</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if perms.mailing.view_message %}
        <div class="col-md-auto col-lg-4 mb-4">
            <div class="card shadow-sm h-100 hover-effect">
                <div class="card-body text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-success"></i> <!-- Письмо для сообщений -->
                    <h5 class="card-title">Список сообщений</h5>
                    <p class="card-text">Посмотреть все сообщения</p>
                    <a href="{% url 'mailing:message_list' %}" class="btn btn-success btn-block">Перейти</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if perms.clients.view_clients %}
        <div class="col-md-auto col-lg-4 mb-4">
            <div class="card shadow-sm h-100 hover-effect">
                <div class="card-body text-center">
                    <i class="fas fa-user-shield fa-3x mb-3 text-info"></i> <!-- Рыцарь для клиентов -->
                    <h5 class="card-title">Список клиентов</h5>
                    <p class="card-text">Посмотреть всех клиентов</p>
                    <a href="{% url 'clients:clients_list' %}" class="btn btn-info btn-block">Перейти</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if perms.users.view_user %}
        <div class="col-md-auto col-lg-4 mb-4">
            <div class="card shadow-sm h-100 hover-effect">
                <div class="card-body text-center">
                    <i class="fas fa-users fa-3x mb-3 text-warning"></i> <!-- Группа пользователей -->
                    <h5 class="card-title">Список пользователей</h5>
                    <p class="card-text">Посмотреть всех пользователей</p>
                    <a href="{% url 'users:users_list' %}" class="btn btn-warning btn-block">Перейти</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    {% if user.is_superuser or user.is_staff %}
    <div class="row mt-5">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Статистика рассылок</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-scroll me-2"></i>Создано рассылок:
                            <span class="badge badge-primary badge-pill">{{ count_campaign }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-fire me-2"></i>Количество активных рассылок:
                            <span class="badge badge-success badge-pill">{{ active_campaign_count }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-user-shield me-2"></i>Количество уникальных получателей:
                            <span class="badge badge-info badge-pill">{{ unique_clients_count }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-check-circle me-2"></i>Количество успешных попыток рассылки:
                            <span class="badge badge-success badge-pill">{{ total_successful_attempts }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-times-circle me-2"></i>Количество неуспешных попыток рассылки:
                            <span class="badge badge-danger badge-pill">{{ total_unsuccessful_attempts }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <i class="fas fa-paper-plane me-2"></i>Общее количество отправленных сообщений:
                            <span class="badge badge-primary badge-pill">{{ total_sent_messages }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endif %}
{% endblock %}